
<!DOCTYPE HTML>
<html>
<head>
<title>Tender A Corporate category Flat bootstrap Responsive  Website Template | About :: w3layouts</title>
<link href="./css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.min.js"></script>
<script type="text/javascript" src='./js/money.js'></script>
<!-- Custom Theme files -->
<link href="./css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<script type="text/javascript">
(function () {
  "use strict";

  var el = document.createElement('div');
  el.style.cssText = 'pointer-events:auto';

  if (el.style.pointerEvents !== 'auto') {
      el = null;

      var _lock = function (evt) {
          evt = evt || window.event;
          var el = evt.target || evt.srcElement;
          if (el && /\slocked\s/.test(' ' + el.className + ' ')) {
              if (evt.stopPropagation) {
                  evt.preventDefault();
                  evt.stopPropagation();
              } else {
                  evt.returnValue = true;
                  evt.cancelBubble = true;
              }
          }
      };

      if (document.addEventListener) {
          document.addEventListener('mousedown', _lock, false);
          document.addEventListener('contextmenu', _lock, false);
      } else {
          document.attachEvent('onmousedown', _lock);
          document.attachEvent('oncontextmenu', _lock);
      }
  }
})();
</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Tender Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="./js/move-top.js"></script>
<script type="text/javascript" src="./js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
</head>
<body>
<!--top nav start here-->
<div class="mother-grid">
	<div class="container">
	  <div class="temp-padd">

<!--top nav end here-->
<!--title start here-->
<div class="top-authoriz">
				<span class="top-authoriz1">
				<a href="../login" class="top-authoriz1">Вийти</a>
				</div>
<div class="title-main">
<a href="../shpore" ><img src="../images/desktop.png" align="left" width="128" height="128"/><h1>SARA's STUDY</h1></a>

</div>
<!--title end here-->
<!--header start here-->
          <form id="myForm">
<div class="header">
			<div class="navg">
				<span class="menu"> <img src="images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="../shpore">Головна</a></li>
        <li> <a class="active" href="../about">Предмети</a>

            <ul class="submenu">

              <li><a href="../math">Математика</a></li>

              <li><a href="../english">Англійська</a></li>

               <li><a href="../biology">Біологія</a></li>


            </ul>

      </li>
					<li><a href="../upload">Завантаження</a></li>
					<li><a href="contact">Про нас</a></li>
          <li><a href="../personal_room">Oсобистий кабiнет</a></li>
          <li>  <input onkeydown="size=value.length||2" onkeyup="onkeydown()" disabled type='text' id='money' value="<%=money%>" name='money'></h4><img src='./images/money.png'><li>

          <script>
          var money = 0;
        $(function () {
            $("#myForm").submit(function (event) {
              event.preventDefault();
              $.post("/about", function(response)   {
                if (response.status === 'bad') {
                  // alert('Не достатньо коштiв на рахунку!')
                } else {
                money = response.money;
                $('#money').val(response.money);
                }
              });

            })
          })


          </script>



        </ul>
				<script>
                  $( "span.menu").click(function() {
                    $(  "ul.res" ).slideToggle("slow", function() {
                     // Animation complete.
                     });
                     });
		       </script>
			</div>
			<div class="clearfix"> </div>
  </div>
<!--header end here-->
<div class="team">
	<h3>Назва предмету</h3>
  <p id="lead">  </p>
  <ul>
  </ul>
  <ul>
<% for(var i=0; i < books.length; i++) {%>
  <script type="text/javascript">
  function pay(value) {
    console.log(value);
    var name =  value.split('/');
    var link = document.createElement('a');
    if ($('#money').val() <= 19) {
    link.setAttribute('download', null);
    alert('Не достатньо коштiв на рахунку!')
  } else {
    link.setAttribute('href', value);
    link.setAttribute('download',name[2]);
  }
    onload=link.click();
  };
  </script>
   <li>
    <img src="<%= books[i].url %>" width="200px" height="150px" class="locked" id='img'>
    <h3><%= books[i].name %></h3>
   <button type="submit" name="button" onclick="pay(value)" value="<%=books[i].url %>" >Cкачать</button>
   <!-- <a href='#' name="sbm" onClick='submit();'>Войти</a> -->

 </li>

<% } %>
</ul>
	<div class="clearfix"> </div>
</div>
</div>
<!--about end here-->
<!--footer start here-->
  <div class="footer">
		<div class="footer-main">
			<div class="footer-bottom">
				<p>© Практиканти 2017  </a></p>
			</div>
		</div>
	   </div>
   </div>
  </div>
<!--footer end here-->
</body>
</html>
